.table th{
  /* padding-bottom: 2rem; */
  border-bottom: 1px solid gray;
  justify-content: left;
  color: black;
}

.table{
  margin-top: 2rem;
  border: 0.5px solid rgba(0, 0, 0, 0.144);
}


/* search bar */
input[type="search"]{
  width: 20rem;
  margin-left: 1rem;
  margin-top:4rem;
  border: 0.5px solid rgb(185, 182, 182);
  padding: 5px;
  border-radius:5px;
}

input[type="search"]:focus{
  outline: none;
  border: 1.5px solid black;
  border-radius: 5px;
}

/* sort */

i{
  cursor: pointer;
  color: gray;
}


/* loader */
.loader{
  text-align: center;
  margin-top: 20%;
  color: gray;
  font-size: 1.5rem;

}


/* heading */
h3{
  text-align: center;
  margin-top: 3rem;
}
/* media queries */

@media only screen and (max-width: 649px) and (min-width: 321px) {

  .table{
    border:none;
    margin-left: -0.5rem;
  }
}

@media only screen and (max-width: 320px){
  input[type="search"]{
    width: 15rem;
  }

  .table{
    border:none;
    margin-left: -0.5rem;
  }
}

/* landscape phones */
@media only screen and (max-width: 900px) and (min-width: 650px) {
  .table{
    margin-left: -2.5rem;
  }
}